/*********************DISEÑO PARA CALIFICACION*************************************/
.titulo-votos {    
    text-align: center;    
}

.campo-votos {    
    font-size: 0;
    /* display: inline-block; */
    text-align: center;    
}
.campo-votos a {
    cursor: pointer;
    text-decoration: none; 
    display: inline-block;
    /* Volver a dar tamaño al texto */
    font-size: 32px;
    font-size: 2.5rem;    
    
    color: #888;
    text-shadow: 0 0 0 rgba(0,0,0,.3);        
}

.campo-votos:hover a {
    /*color: #00991A;
    color: #FF0000;  */
    color: rgb(39, 130, 228);
    text-shadow: .1em .1em .2em rgba(0,0,0,.3);        
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.campo-votos > a:hover ~ a {
      color: #888;
      text-shadow: none;    
}

.campo-votos a.ya_voto{
    
    cursor: pointer;
    text-decoration: none; 
    display: inline-block;
    /* Volver a dar tamaño al texto */
    font-size: 32px;
    font-size: 2.5rem;    
    
    color: rgb(39, 130, 228);
    text-shadow: .1em .1em .2em rgba(0,0,0,.3);        
}

.total_votos{
    margin-left: 10px;
}


/*********************DISEÑO PARA VOTOS*************************************/
.box-votos {    
    text-align: center;    
}
.box-votos a {
    cursor: pointer;
    text-decoration: none; 
    display: inline-block; 
}

.box-votos a:hover{
    /*color: #00991A;
    color: #FF0000;  */
    color: rgb(39, 130, 228);
    text-shadow: .2em .2em .2em rgba(0,0,0,.3);        
}


.box-votos a.voto-down{
    color: #FF0000;
}
.box-votos a.voto-up{
    color: #00991A;
}
.box-votos a.disabled{
    color: #888;
    cursor: default;
    text-shadow: 0em 0em 0em;        
}



.visitar_sitio{
    margin: 0 auto;
}