header .busqueda{
  padding-top: 8px;
}

header .botones{
  padding-top: 8px;
}

body{
    background-color: #F3F3F3;
    /*background-image: url("../img/fondo2.jpg");*/
}

.opcionBarra{
    cursor: pointer;
}
section{
	float: inherit;
  max-width: 1100px;
  margin: 0px auto;
  padding-top: 70px;
  /*border: 1px solid;*/
}

#contenido{	
	background-color: white;
	/*border-radius: 4px;*/
	border: 1px solid #ccc;
/*  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;  */
  margin-top: 15px;
  margin-bottom:15px;
}

#contenido-black{
	background-color: black;
	border-radius: 4px;
	border: 1px solid #ccc;
}

/* -------------------- MAPA DE GOOGLE -------------------- */
#map_canvas { height: 100% }

/* -------------------- Carrusel -------------------- */
.carousel .item {
    background-color: #000;
}
.carrusel_publicidad{	
	background-color: #fff;
	/*border: 1px blue solid;	*/
	width: 100%;
	height: 400px;	
}
.carrusel_publicidad img{
	float: center;
	margin: 0 auto;
	height: 400px;
}


/************************ visitantes y admiradores ************************/
.seguidores{	
	padding: 10px;
	height: 400px;	
	background-color: white;
	border: 1px solid #ccc;
/*	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; */
	overflow: auto;
}
.seguidores h3{	
	margin: 0px;
	margin-bottom: 10px;	
}
.seguidores p{	
	padding-left: 15px;	
	height: 55px;
 	overflow: hidden;                
}
.seguidores img{
	width: 55px;
	height: 55px;
	border: 1px solid #ccc;        
}



/************************ PESTAÑA DE EXPERIENCIAS ************************/
.experiencia{ 
  margin-bottom: 15px;
  padding: 8px;
  width: auto;  
  background: white;
  border: 1px solid #88bfe8;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.experiencia .im_exp{
  padding-left: 10px;
  height: 125px;  
  margin: 5px 0 5px 0;
}
.experiencia .im_exp img{
  margin: 0 auto;
  height: 100%;
}/*
.experiencia .info_exp{
   margin: 5px 0 0 10px; 
   border: solid 1px #43E312;
}*/
.experiencia .info_exp h4{
    color: #0088cc;    
}
.experiencia .info_exp p{
  margin-top: 0px;
  font: 13px Arial;
}

.opc_exp button{
    float: right;
    padding: 5px;
    margin-left: 5px;
} 

.vista_imgExp{    
    height: 75px;
    border: 1px solid #000;
    margin: 0 5px 10px 0;    
}

.previa_fotoPerfil{
    height: 100px;
    border: 1px solid #000;
    margin: 0 5px 10px 0;        
}

/* **************************CIRCULOS MENU************************** */
/*
.menu{
width: 100%;
overflow:hidden;
}

.menu ul{
margin: 0;
padding: 0;
font: bold 14px Verdana;
list-style-type: none;
text-align: center;
}

.menu li{
display: inline;
margin: 0;
}

.menu li a{
    cursor: pointer;
    display:inline-block;
    text-align:center;
    text-decoration: none;
    color: white;
    background: #232020;
    margin: 0;
    margin-right:5px; 
    width:100px;
    height:100px;
    border-radius: 400px;
    -moz-border-radius: 400px;
    -webkit-border-radius: 400px;
}
.menu a .circle{ 
    width: 90px;
    height: 90px;
    background: #8E8787; 
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
    position: relative;
    top:5%;
    left: 5%;
}
.menu a span{
    position:relative;
    top:40%;
}
.menu li a:visited{
    color: white;
}
.menu a:hover{
    opacity: .5;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    transition: opacity .5s ease;
    cursor:pointer;
}
*/

/************************ Modal de notificaciones ************************/
.notificacion{ 
  margin-bottom: 15px;
  padding: 8px;
  width: auto;  
  background: white;
  border: 1px solid #88bfe8;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
}
.notificacion .im_notif{
  padding-left: 10px;
/*padding-right: 25px;  */
  height: 80px;  
  margin-bottom: 10px;
  float: left;      
  margin: 0 auto;
}


.notificacion .im_notif img{
  margin: 0 auto;
  height: 100%;
}

/* .notificacion .info_notif{
  border: 1px solid blue;
} */
.notificacion .info_notif h4{
  margin: 5px 0px 5px 20px; 
}
.notificacion .info_notif p{
  margin-top: 0px;
  font: Arial;
  font-size: 12px;
}


/************************ Botones FILE invisibles ************************/

.caja_Bfile{
    /*height: 30px;
    width: 150px;*/
    overflow: hidden;
    position: relative;
    cursor: pointer;
    /*Using a background color, but you can use a background image to represent a button
    background-color: #DDF;*/
}
.Bfile{
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size:50px;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
/************************ Botones generales del diseño ************************/

.btn-red {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #9E0529;
	background-image: -moz-linear-gradient(top, #E8074E, #9E0529);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E8074E), to(#9E0529));
	background-image: -webkit-linear-gradient(top, #E8074E, #9E0529);
	background-image: -o-linear-gradient(top, #E8074E, #9E0529);
	background-image: linear-gradient(to bottom, #E8074E, #9E0529);
	background-repeat: repeat-x;
	border-color: #9E0529;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8074E', endColorstr='#9E0529', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-red:hover,
.btn-red:active,
.btn-red.active,
.btn-red.disabled,
.btn-red[disabled] {
	color: #FFFFFF;
	background-color: #9E0529;
}

.btn-green {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #00991A;
	background-image: -moz-linear-gradient(top, #43E312, #00991A);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#43E312), to(#00991A));
	background-image: -webkit-linear-gradient(top, #43E312, #00991A);
	background-image: -o-linear-gradient(top, #43E312, #00991A);
	background-image: linear-gradient(to bottom, #43E312, #00991A);
	background-repeat: repeat-x;
	border-color: #00991A;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43E312', endColorstr='#00991A', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-green:hover,
.btn-green:active,
.btn-green.active,
.btn-green.disabled,
.btn-green[disabled] {
	color: #FFFFFF;
	background-color: #00991A;
}

.btn-blue {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #0B29BD;
	background-image: -moz-linear-gradient(top, #0D85D6, #0B29BD);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0D85D6), to(#0B29BD));
	background-image: -webkit-linear-gradient(top, #0D85D6, #0B29BD);
	background-image: -o-linear-gradient(top, #0D85D6, #0B29BD);
	background-image: linear-gradient(to bottom, #0D85D6, #0B29BD);
	background-repeat: repeat-x;
	border-color: #0B29BD;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0D85D6', endColorstr='#0B29BD', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-blue:hover,
.btn-blue:active,
.btn-blue.active,
.btn-blue.disabled,
.btn-blue[disabled] {
	color: #FFFFFF;
	background-color: #0B29BD;
}
.btn-blue.slider{
  width: 100px;
  height: 25px;
  font-size: 15px;
  padding-top: 10px;
}

@media screen and (max-width:1006px){
  section{
    padding-top: 20px;
  }
}