.maps{
    height:400px;
    background-color: rgb(104, 177, 104);    
}

.detalle_empresa{
    height: auto;    
    margin: 15px;
}

/************************ PESTAÑA DE IMAGENES ************************/
#content .box {
  width: 150px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 12px;
}

