#R_busqueda .navbar-inner{
  min-height: 40px;
}
/*
#R_busqueda .navbar-inner li:hover{
    -moz-box-shadow:inset 0 0 50px #000000;
    -webkit-box-shadow:inset 0 0 50px #000000;
    box-shadow:inset 0 0 50px #000000;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}*/

.resultado{
  /*border: 1px solid;*/  
  height: auto;
  padding-bottom: 15px;
}

.imagen-resultado{
  width: 80%;
  height: 150px;
  margin: 0 auto;  
}

.resultado img{
    width: 100%;
    height: 100%;
}

.titulo-result{
    text-align: center;  
}
.titulo-result a{
    color: green;  
}
.titulo-result a:hover{
    text-decoration: none;
    color: rgb(42, 207, 11);
}