.maps{
    height:400px;
    background-color: rgb(104, 177, 104);
}


.detalle_sitio{
    height: auto;    
    margin: 15px;
}

.actividades{
    height: 200px;
}

.comparte{
  margin: 0 auto;
  width: 65%;
}

.botones-comparte{
    margin: 0 auto;
    width: 65%;
}


/************************ PESTAÑA DE IMAGENES ************************/
#content .box {
  width: 150px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 12px;
}
