/************************ PERFIL DE USUARIO ************************/

#P_usuario .opciones .navbar-inner{
	min-height: 40px;
	padding-left: 7px; 	
} 

#P_usuario .opciones .navbar .nav > li {	
  	padding-top: 5px;    
}

#P_usuario .opciones .navbar .nav > li > a {
  	padding: 5px 5px 5px;
  	font-size: 12px;
  	font-weight: bold;
} 

.usuario{
    background-color: white;
    border: 1px solid #ccc;
/*
background: -moz-linear-gradient(top,  rgba(96,96,96,1) 0%, rgba(191,191,191,0.5) 3%, rgba(255,255,255,0.54) 5%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.54) 95%, rgba(191,191,191,0.5) 97%, rgba(96,96,96,1) 100%);  FF3.6+ 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,96,96,1)), color-stop(3%,rgba(191,191,191,0.5)), color-stop(5%,rgba(255,255,255,0.54)), color-stop(30%,rgba(255,255,255,1)), color-stop(70%,rgba(255,255,255,1)), color-stop(95%,rgba(255,255,255,0.54)), color-stop(97%,rgba(191,191,191,0.5)), color-stop(100%,rgba(96,96,96,1)));  Chrome,Safari4+ 
background: -webkit-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(191,191,191,0.5) 3%,rgba(255,255,255,0.54) 5%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 70%,rgba(255,255,255,0.54) 95%,rgba(191,191,191,0.5) 97%,rgba(96,96,96,1) 100%);  Chrome10+,Safari5.1+ 
background: -o-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(191,191,191,0.5) 3%,rgba(255,255,255,0.54) 5%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 70%,rgba(255,255,255,0.54) 95%,rgba(191,191,191,0.5) 97%,rgba(96,96,96,1) 100%);  Opera 11.10+ 
background: -ms-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(191,191,191,0.5) 3%,rgba(255,255,255,0.54) 5%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 70%,rgba(255,255,255,0.54) 95%,rgba(191,191,191,0.5) 97%,rgba(96,96,96,1) 100%);  IE10+ 
background: linear-gradient(to bottom,  rgba(96,96,96,1) 0%,rgba(191,191,191,0.5) 3%,rgba(255,255,255,0.54) 5%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 70%,rgba(255,255,255,0.54) 95%,rgba(191,191,191,0.5) 97%,rgba(96,96,96,1) 100%);  W3C 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#606060',GradientType=0 );  IE6-8 */

}
.usuario .nombre h3{
	text-align: center;	
}
.usuario .foto_perfil{
	margin: 0px auto;		
	width: 200px;
	height: 200px;	
}
.usuario .foto_perfil img{	
	width: 100%;
	height: 100%;  
}
.usuario .info{
	padding: 15px;
	/* border: 1px solid blue; */
}
.usuario .edit_img_perfil{       
    padding: 5px;
    margin: 10px 0 0 180px;
    position: absolute;
    z-index: 10;
  /*opacity: 0.2;
  filter: alpha(opacity=20);    */
    
}

.usuario #formImgPerfil{
    padding: 5px;
    margin: 5px 20px 0 30px;
    position: absolute;
    z-index: 10;
}
