#R_busqueda .navbar-inner{
  min-height: 40px;
}
/*
#R_busqueda .navbar-inner li:hover{
    -moz-box-shadow:inset 0 0 50px #000000;
    -webkit-box-shadow:inset 0 0 50px #000000;
    box-shadow:inset 0 0 50px #000000;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}*/

.resultado{
  height: auto;
  /*padding-bottom: 15px;*/
}

.imagen-resultado{
    width: 80%;
    height: 150px;
    margin: 0 auto;
}

.imagen-resultado img{
    width: 100%;
    height: 100%;    
    position: relative;
    z-index: 6;
}

.titulo-result{
    position: relative;
    top: -40px;
    z-index: 10;
    text-align: center;  

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.65) 81%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(81%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.65) 81%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.65) 81%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.65) 81%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.65) 81%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-8 */
}
.titulo-result a{
    color: rgb(255, 255, 255)
}
.titulo-result a:hover{
    text-decoration: none;
    color: rgb(42, 207, 11);    
}

/*
#R_busqueda .navbar-inner{
  min-height: 40px;
}

.resultado{
  height: auto;
  padding-bottom: 15px;
}

.imagen-resultado{
  width: 80%;
  height: 150px;
  margin: 0 auto;  
}

.resultado img{
    width: 100%;
    height: 100%;
}

.titulo-result{
    text-align: center;  
}
.titulo-result a{
    color: green;  
}
.titulo-result a:hover{
    text-decoration: none;
    color: rgb(42, 207, 11);
}
*/

.servicio{
    margin-bottom: 15px;
}
.titulo-servicio{
    text-align: center;  
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top: 4px;   
    
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.65) 81%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(81%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.65) 81%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.65) 81%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.65) 81%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.65) 81%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-8 */
}
.titulo-servicio a{
    color: rgb(255, 255, 255)
}
.titulo-servicio a:hover{
    text-decoration: none;
    color: rgb(42, 207, 11);    
}

.imagen-resultado{    
    background-color: #FFFFFF;
    width: 100%;
    height: 150px;
    margin: 0 auto;
}
.imagen-resultado img{
    width: 100%;
    height: 100%;    
}

.desc-servicio{
/*    background-color: #FFFFFF;*/

    border: solid rgba(96,96,96,0.5) 1px;
    border-top: none;
    text-align: justify;  
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom: 4px;   
    
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC41OCIvPgogICAgPHN0b3Agb2Zmc2V0PSI5NCUiIHN0b3AtY29sb3I9IiNiZmJmYmYiIHN0b3Atb3BhY2l0eT0iMC41Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MDYwNjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 70%, rgba(255,255,255,0.58) 90%, rgba(191,191,191,0.5) 94%, rgba(96,96,96,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,rgba(255,255,255,1)), color-stop(90%,rgba(255,255,255,0.58)), color-stop(94%,rgba(191,191,191,0.5)), color-stop(100%,rgba(96,96,96,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 70%,rgba(255,255,255,0.58) 90%,rgba(191,191,191,0.5) 94%,rgba(96,96,96,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 70%,rgba(255,255,255,0.58) 90%,rgba(191,191,191,0.5) 94%,rgba(96,96,96,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 70%,rgba(255,255,255,0.58) 90%,rgba(191,191,191,0.5) 94%,rgba(96,96,96,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 70%,rgba(255,255,255,0.58) 90%,rgba(191,191,191,0.5) 94%,rgba(96,96,96,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#606060',GradientType=0 ); /* IE6-8 */
    
}
.desc-servicio p{
    margin: 10px;
}