.maps{
	height:300px;
}

.detalle_empresa{
    height: auto;    
    margin: 15px;
}

/************************ PESTAÑA DE IMAGENES ************************/
#content .box {
  width: 150px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 12px;
}

